@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sobrescrever estilos do Tailwind */
body {
    font-family: 'Instrument Sans', sans-serif !important;
    background-color: white !important;
    color: black !important;
}

html {
    background-color: white !important;
}
